<%- include("global/header"); -%>
<%  
    let config = conf.getConfig();

    let name = config.meta.name;
%>
                            <ol class="breadcrumb"> 
                                <li>
                                    <a href="<%= route %>"><%= name %> /</a>
                                </li>
                            </ol>
                            <div class="main-content">
                                <h1 class="page-header">NullDev</h1>
                                <h2>$ whoami</h2>
                                <p>My name is <b>Chris</b>, I'm <b><span class="age-years"></span></b> years, <b><span class="age-months"></span></b> months and <b><span class="age-days"></span></b> days old.</p>
                                <p>I feel fascinated with the power we're given to create whatever we wish by programming our way to the goal!</p>
                                <p>I'm a Full-Stack developer with focus on Backend Programming.</p>
                                <p>In my free time however, I enjoy learning about various subjects involving Artificial Intelligence and Machine Learning. Functional Programming is by far the most fun to me!</p>
                            </div>
<%- include("global/footer"); -%>